<div class="container">
	<h1>Nuevo Periodo</h1>

	<div class="chip red white-text">
		<i class="material-icons">close</i>
		Hoy: <%= Date.today %>
	</div>

	<%= render 'form' %>

	<%= link_to 'Atras', periods_path, :class => "btn white red-text" %>
</div>

