<nav>
	<div class="nav-wrapper white">
		<div class="row">
			<div class="col s10">
				<%= link_to 'Reservations', reservations_path, :class => "btn white red-text"%>
				<%= link_to 'Users', users_path, :class => "btn white red-text"%>
				<%= link_to 'Periods', periods_path, :class => "btn white red-text"%>
				<%= link_to 'Rooms', rooms_path, :class => "btn white red-text"%>
			</div>
			<div class="col s2">
				<a id="btn-usuario" href="#" class="btn white red-text"> User </a>
			</div>
		</div>
	</div>
</nav>

<div class="container">
	<h1>Welcome#admin</h1>
	<p>Find me in app/views/welcome/index.html.erb</p>
</div>
