<%= render 'nav' %>

<div class="container">
	<h1>Editing Room</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @room, :class => "btn white red-text" %> |
	<%= link_to 'Back', rooms_path, :class => "btn white red-text" %>
</div>